body {
    margin: 0;
    text-align: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background-color: rgb(139, 178, 218);
}

h1 {
    font-size: 35px;
    font-weight: 900;
    color: black;
    margin: 0;
    padding-top: 15px;
    padding-bottom: 15px;
}

img {
    height: 500px;
    width: 1000px;
    overflow: hidden;
}

ul {
    list-style-type: none;
    font-size: 15px;
    padding: 0;
    margin: 0;
    display: inline-block;
}

strong {
    color: antiquewhite;
}

.quick-links {
    color: white;
    padding: 1em;
    display: inline-flex;
}

.quick-links a {
    padding: 1em;
    margin: 1em;
    background-color: lightslategray;
}

.quick-links a:hover {
    background-color: antiquewhite;
    color: blue;
    padding: 1em;
}

li {
    display: inline-flex;
    margin: 10px;
    border: 1px;
    border-color:black;
}
